{# app/Resources/views/edit.html.twig #}
{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Modifica prodotto{% endblock %}

{% block body %}

	{% if product.getImageFileName() is not empty %}
		<img class="thumb-prodotto-form" src="{{ product.getWebImagePath() }}"><br><br>
	{% endif %}

    {{ form_start(form, {'attr': {'role': 'form'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<a class="btn btn-default btn-lg" href="{{ path('product_delete', {'id': product.id}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Elimina</a>
	<a class="btn btn-default btn-lg" href="{{ path('product_list') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;&nbsp;Vai alla lista</a>

{% endblock %}