{# app/Resources/views/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Lista prodotti{% endblock %}

{% block body %}

	{% if products is not empty %}
		<div class="filters" role="search">
			<label>Filtra tag</label>
			<input type="text" class="form-control" id="filter-tags" name="filter-tags" placeholder="es. cani coccinelle slitte">
		</div>
	{% endif %}

	<div class="panel panel-default">
		<table class="table table-bordered">
			<tr class="thead">
				<th>#</th>
				<th>Foto Prodotto</th>
				<th>Data creazione</th>
				<th>Nome Prodotto</th>
				<th>Descrizione Prodotto</th>
				<th>Prezzo</th>
				<th>Elenco Tag</th>
			</tr>
		{% for product in products %}
			<tr class="line" data-tags="{{ product.tags|json_encode() }}" data-route="{{ path('product_edit', {'id': product.id} ) }}">
				<td>{{ product.id}}</td>
				<td>{% if product.getImageFileName() is not empty %}<img class="thumb-prodotto" src="{{ product.getWebImagePath() }}">{% endif %}</td>
				<td>{{ product.created|date('d/m/Y H:i')}}</td>
				<td>{{ product.name}}</td>
				<td>{{ product.description}}</td>
				<td>{{ product.price|number_format(2,'.')}} &euro;</td>
				<td>
					{% for tag in product.tags %}
						<span class="label label-default">{{ tag }}</span>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}

			<tr class="filter-empty"><td colspan="7">Nessun prodotto corrispondente ai tag selezionati</td></tr>
			{% if products is empty %}
				<tr><td colspan="7">Nessun prodotto presente in archivio</td></tr>
			{% endif %}

		</table>
	</div>

	<a class="btn btn-default btn-lg" href="{{ path('product_create') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Aggiungi Prodotto</a>

{% endblock %}